<template>
  <div class="column is-2 pr-0 pl-0">
    <aside class="menu learn-menu" style="top: 2.5rem">
      <div class="is-flex pt-3 pl-3 is-justify-content-space-between pr-3">
        <p class="menu-label">Array Methods</p>
        <Transition name="bounce" appear v-if="showAsideMenu">
          <div class="burger-menu mt-1 is-clickable" @click="$emit('hideBar')">
            <div class="bar has-background-info"></div>
            <div class="bar has-background-info"></div>
            <div class="bar has-background-info"></div>
          </div>
        </Transition>
      </div>
      <ul class="menu-list" :class="{ 'is-dark': isDark }">
        <slot
          name="item-content"
          :activeClass="listClass"
          :normalClass="isDark ? 'has-text-white' : ''"
        />
      </ul>
    </aside>
  </div>
</template>
<script setup>
import { inject, computed } from 'vue'
const { isDark } = inject('isDark')
defineProps(['showAsideMenu'])
defineEmits(['hideBar'])
const listClass = computed(
  () =>
    `box has-text-weight-semibold  ${
      isDark.value ? 'has-background-grey has-text-white' : 'has-background-infolight'
    }`
)
</script>
