<template>
  <div v-if="show" :class="{ 'navbar-item': true, 'has-dropdown is-hoverable': isChild }">
    <a :href="path" class="has-text-white" :class="isChild ? 'navbar-link' : 'navbar-item'">{{
      title
    }}</a>
    <div class="navbar-dropdown" v-if="isChild">
      <template v-for="(item, index) in children" :key="index">
        <a :href="`/${item.path}`"  class="navbar-item" :class="{'is-active' : key == item.path}">{{ item.title }}</a>
      </template>
    </div>
  </div>
</template>
<script setup>
import { useRoute } from 'vue-router';

const route = useRoute()
const params = route?.params.id ?? []
const key = params[0] ?? 'array' 
defineProps(['path', 'title', 'children', 'isChild', 'show'])
</script>
