<template>
  <div class="p-2">
    <div
      class="dropdown"
      :class="{ 'is-active': dropdown.isActive }"
      @click="dropdown.isActive = !dropdown.isActive"
    >
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>{{ dropdown.selected?.title }}</span>
          <span class="icon is-small">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">
              <path d="M8 12l4-4H4z" fill="#000" />
            </svg>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a
            href="#"
            class="dropdown-item"
            @click="dropdown.selected = item"
            v-for="(item, index) in jsBuiltin"
            :key="index"
          >
            {{ item.title }}
          </a>
        </div>
      </div>
    </div>
    <button
      class="button is-small is-clickable is-success ml-2"
      type="submit"
      @click="getCollectionDetails()"
    >
      Run
    </button>
    <div class="mt-2">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th width="100">Key</th>
            <th width="150">Value</th>
            <th>Desc</th>
            <th>Syntax</th>
            <th>Script</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td><input class="input is-small" type="text" v-model="item.key" /></td>
            <td><input class="input is-small" type="text" v-model="item.value" /></td>
            <td
              @click="
                (modelOpen = true), (updateDetails = { key: 'desc', index, value: item.desc })
              "
            >
              <span v-html="pencil"></span>
            </td>
            <td
              @click="
                (modelOpen = true), (updateDetails = { key: 'syntax', index, value: item.syntax })
              "
            >
              <span v-html="pencil"></span>
            </td>
            <td
              @click="
                (modelOpen = true), (updateDetails = { key: 'script', index, value: item.script })
              "
            >
              <span v-html="pencil"></span>
            </td>
            <td>
              <svg
                class="is-clickable"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                id="plus"
                @click="altertable(1, index)"
              >
                <g data-name="Layer 2">
                  <g data-name="plus-circle">
                    <rect width="24" height="24" opacity="0"></rect>
                    <path
                      d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm3 11h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2h2a1 1 0 0 1 0 2z"
                    ></path>
                  </g>
                </g>
              </svg>
              <svg
                class="is-clickable"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                id="minus"
                @click="altertable(-1, index)"
                v-if="index != 0"
              >
                <path
                  fill="#000"
                  fill-rule="evenodd"
                  d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM8 11a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2H8Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="submit" @click="validateandsubmit()" class="button is-small is-success m-2">
          Submit
        </button>
        <button type="submit" @click="clearData()" class="button is-small is-danger m-2">
          Clear
        </button>
      </div>
    </div>
  </div>
  <div class="modal" :class="{ 'is-active': modelOpen }">
    <div class="modal-background"></div>
    <div class="modal-content">
      <textarea class="textarea" v-model="updateDetails.value"></textarea>
      <button class="button is-small is-info is-pulled-right mt-2" @click="updateDetailstoItem()">
        Update
      </button>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="modelOpen = false"></button>
  </div>
</template>
<script setup>
import { onMounted, computed, reactive, watch, ref } from 'vue'
import { useJsMethods } from '@/stores/jsStore'
const singleData = {
  key: '',
  value: '',
  syntax: '',
  desc: '',
  script: ''
}
const items = ref([{ ...singleData }])
const jsStore = useJsMethods()
const jsBuiltin = computed(() => jsStore.jsRoutes.flatMap((item) => item.children))
const dropdown = reactive({
  isActive: false,
  selected: {}
})
const modelOpen = ref(false)
const updateDetails = ref({
  key: '',
  index: 0,
  value: ''
})

const getCollectionDetails = () => {
  const { prototypes, jsScripts } = jsStore.getCollectionDetails(dropdown.selected.path)
  items.value = prototypes.value.map((item) => ({
    ...item,
    syntax: item.syntax.join('||'),
    script: jsScripts.value.find((data) => data.id == item.id)?.desc
  }))
}

const updateDetailstoItem = () => {
  modelOpen.value = false
  items.value[updateDetails.value.index][updateDetails.value.key] = updateDetails.value.value
}
const validateandsubmit = () => {
  const isValidated = items.value.some((item) => !!item.key)
  if (isValidated) {
    jsStore.updateScripts(items.value, dropdown.selected.path)
  } else {
    alert('Some fields are empty')
  }
}
const clearData = () => {
  items.value = [{ ...singleData }]
}
watch(jsBuiltin, () => {
  dropdown.selected = jsBuiltin.value[0]
})
const altertable = (val, index) => {
  if (val == 1) {
    items.value.splice(index + 1, 0, { ...singleData })
  } else {
    items.value.splice(index, 1)
  }
}
const pencil = `<svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 47.5 47.5"
                width="20"
                height="20"
                class="is-clickable"
                viewBox="0 0 47.5 47.5"
               
                id="pencil"
              >
                <defs>
                  <clipPath id="a"><path d="M0 38h38V0H0v38Z"></path></clipPath>
                </defs>
                <g clip-path="url(#a)" transform="matrix(1.25 0 0 -1.25 0 47.5)">
                  <path
                    fill="#d99e82"
                    d="M0 0c-.647 2.101-1.705 6.059-2.325 7.566-.501 1.216-.969 2.438-1.544 3.014-.575.575-1.553.53-2.143-.058 0 0-2.468-1.674-3.353-2.783-1.109-.882-2.785-3.357-2.785-3.357-.59-.59-.635-1.568-.06-2.143.576-.575 1.798-1.043 3.015-1.544C-7.689.075-3.73-.98-1.629-1.63-1.271-1.74.11-.359 0 0"
                    transform="translate(36.222 3.402)"
                  ></path>
                  <path
                    fill="#ea596e"
                    d="M0 0a2.946 2.946 0 0 0 0-4.167l-4.167-4.167a2.946 2.946 0 0 0-4.167 0l-4.167 4.167a2.946 2.946 0 0 0 0 4.167l4.167 4.167a2.946 2.946 0 0 0 4.167 0L0 0Z"
                    transform="translate(14.643 31.692)"
                  ></path>
                  <path
                    fill="#ffcc4d"
                    d="m0 0-4.17-4.17-4.163-4.165-15.628 15.627 8.335 8.333L0 0Z"
                    transform="translate(32.352 13.982)"
                  ></path>
                  <path
                    fill="#292f33"
                    d="M0 0s2.709-1.489 3.441-.757c.733.733-.764 3.435-.764 3.435S.109 2.63 0 0"
                    transform="translate(33.078 2.237)"
                  ></path>
                  <path
                    fill="#ccd6dd"
                    d="m0 0-8.334-8.334 5.208-5.209 8.335 8.334L0 0Z"
                    transform="translate(11.518 34.817)"
                  ></path>
                  <path
                    fill="#99aab5"
                    d="m0 0-8.334-8.334-1.042 1.042 8.334 8.334L0 0Z"
                    transform="translate(13.601 32.734)"
                  ></path>
                  <path
                    fill="#99aab5"
                    d="m0 0-8.334-8.335-1.041 1.042 8.333 8.335L0 0Z"
                    transform="translate(15.684 30.65)"
                  ></path>
                </g>
              </svg>`
onMounted(() => {
  jsStore.jsConceptsDetails()
})
</script>
