<template>
  <div class="learning-block">
    <div class="columns is-mobile m-0 p-0">
      <AsideMenu
        v-show="showAsideMenu"
        :showAsideMenu="showAsideMenu"
        @hide-bar="showAsideMenu = !showAsideMenu"
      >
        <template #item-content="itemContentProps">
          <li v-for="(list, index) in jsStore.prototypes" :key="index">
            <a
              :class="{
                [itemContentProps.activeClass]: selected.index == index,
                [itemContentProps.normalClass]: true
              }"
              @click="selected = { index, ...list }"
              >{{ list.value }}</a
            >
          </li>
        </template>
      </AsideMenu>
      <div class="column" :class="{ 'has-background-grey-dark': isDark }">
        <div class="has-text-centered">
          <Desc
            ref="descriptionBlock"
            v-model:selected="selected"
            :showAsideMenu="showAsideMenu"
            @hide-bar="showAsideMenu = !showAsideMenu"
          >
            <template #dropdown-content="dropdownProps">
              <div :class="dropdownProps.class">
                <template v-for="(list, index) in jsStore.prototypes" :key="index">
                  <a
                    href="#"
                    :class="{ 'is-active': selected.index == index }"
                    class="dropdown-item has-text-left"
                    @click="(selected = { index, ...list }), (isSearchActive = false)"
                    >{{ list.value }}
                  </a>
                </template>
              </div>
            </template>
          </Desc>
        </div>
        <UserInput :route-key="key" />

        <div>
          <!-- <CodeMirror ref="callJsFns" :route-key="key" :selected="selected" /> -->
          <Block ref="callJsFns" :route-key="key" :selected="selected" />
        </div>
        <div>
          <Syntax :selected="selected" />
        </div>
      </div>
    </div>
  </div>
  <Teleport to="#searchBox">
    <div class="dropdown" :class="{ 'is-active': isSearchActive }">
      <div class="dropdown-trigger">
        <p class="control has-icons-left">
          <input
            class="input is-small search-input is-rounded"
            type="text"
            placeholder="Search..."
            v-model="isSearchWord"
            @focusin="isSearchActive = !isSearchActive"
          />
          <span class="icon is-small is-left"> 🔍 </span>
        </p>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <template v-for="(list, index) in isSearchJsList" :key="index">
            <a
              href="#"
              :class="{ 'is-active': selected.index == index }"
              class="dropdown-item has-text-left"
              @click="
                (selected = { index, ...list }),
                  (isSearchActive = !isSearchActive),
                  !isSearchActive ? (descriptionBlock.isActive = false) : ''
              "
              >{{ list.value }}
            </a>
          </template>
        </div>
      </div>
    </div>
  </Teleport>
</template>
<script setup>
import AsideMenu from '@/components/Layout/AsideMenu.vue'
import Desc from '@/components/JsBlock/Desc.vue'
// import CodeMirror from '@/components/JsBlock/CodeMirror.vue'
import Syntax from '@/components/JsBlock/Syntax.vue'
import UserInput from '@/components/JsBlock/UserInput.vue'
import { useJsMethods } from '@/stores/jsStore'
import { inject, onMounted, ref, watch, watchEffect, defineAsyncComponent } from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()
const params = route?.params.id ?? []
const key = params[0] ?? 'array'
const jsStore = useJsMethods()
const callJsFns = ref(null)
const descriptionBlock = ref(null)
const showAsideMenu = ref(false)
const isSearchActive = ref(false)
const isSearchWord = ref('')
const isSearchJsList = ref({})

const selected = ref(JSON.parse(localStorage.getItem(`${key}List`)) ?? {})

onMounted(() => {
  isSearchJsList.value = jsStore.prototypes
})
watchEffect(() => {
  isSearchJsList.value = jsStore.prototypes.filter((item) =>
    item.value.toLocaleLowerCase().includes(isSearchWord.value.toLocaleLowerCase())
  )
})
watch(
  selected,
  () => {
    localStorage.setItem(`${key}List`, JSON.stringify(selected.value))
    setTimeout(() => {
      callJsFns.value?.updateCodeEditor(jsStore.jsInput)
    }, 0)
  },
  { deep: true }
)
const { isDark } = inject('isDark')

// async component for displaying code editor
const Block = defineAsyncComponent(async () => {
  await jsStore.inputData()
  if (Object.keys(selected.value).length == 0) {
    selected.value = {
      index: 0,
      ...jsStore.prototypes[0]
    }
  }
  localStorage.setItem(`${key}List`, JSON.stringify(selected.value))
  return import('@/components/JsBlock/CodeMirror.vue')
})
</script>
