.router-link-active,
.router-link-exact-active {
  font-weight: bold;
  background-color: hsl(0, 0%, 96%);
}
.cs-addon-input {
  font-size: 18px;
}

.is-size-8 {
  font-size: 8px !important;
}

.container {
  width: inherit !important;
}
.has-background-grey-dark.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #7a7a7a !important;
}
.has-background-grey-dark label {
  color: whitesmoke;
}
.has-background-grey-dark input {
  background-color: #7a7a7a;
  color: white;
  border: 1px solid #363636;
}
.has-background-grey-dark .field .button {
  background-color: #7a7a7a;
  color: white !important;
  border: 1px solid #363636;
}
.totalRow.has-background-black-ter {
  border-bottom: 1px solid #3f3f3f !important;
}
.has-background-grey-darker .columns {
  border: none;
}
.navbar,
.navbar-brand {
  min-height: 2.25rem;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}

.learn-menu {
  padding-bottom: 10%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  width: fit-content;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar {
  width: 4px;
}
.has-background-infolight,
.has-background-infolight:hover,
.has-background-infolight:focus {
  border-left: 2px solid #3e8ed0;
  background-color: #fff !important;
  color: #000 !important;
}

.menu-list.is-dark a:hover {
  color: white;
  background-color: #3f3f3f;
}
.is-dark a.box:active,
.is-dark a.box:hover {
  box-shadow:
    inset 0 1px 2px rgba(10, 10, 10, 0.2),
    0 0 0 1px #7a7a7a;
}
.code-editor:focus-visible {
  outline: transparent;
}
.code-editor {
  text-align: left;
  flex-grow: 1;
}

.code-block .card-footer-item {
  border-right: none;
}

.output-box {
  max-height: 60px;
  font-size: 12px;
}
.code-editor-content-block {
  height: 350px;
  /* overflow-x: auto; */
}
.output-box,
.code-editor-content-block {
  overflow-y: auto;
  width: -webkit-fill-available;
  overflow-wrap: break-word;
  /* vertical-align: middle; */
  white-space: pre;
  /* width: 100%; */
  word-break: break-word;
}
#editableDiv,
.output-box {
  /* width: 500px; */
  font-family: monospace;
  white-space: pre-wrap;
}
.learning-block {
  height: 100vh;
}
#root-title {
  margin-top: 3.4rem !important;
}
.card-footer-item {
  border: 1px solid #ededed;
  border-left: 0px;
  border-bottom: 0px;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2.25);
  }
  100% {
    transform: scale(1);
  }
}
.bar {
  width: 14px;
  height: 2px;
  margin: 1px;
}
a {
  text-decoration: none !important;
}
.is-unclickable {
  cursor: not-allowed !important;
}
.list-drop,
button.list-drop:focus,
button.list-drop:hover {
  color: white;
  background-color: transparent;
  padding: 0;
  max-height: 16px;
  border: 0;
}
.dropdown-content {
  max-height: 200px;
  overflow-y: scroll;
  height: fit-content;
}
.navbar-item a {
  background: transparent;
}
.navbar-item a:hover,
.navbar-item a:focus {
  background: transparent;
}
.message-header {
  border-radius: 0;
}
@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
  }
}

.ͼ1 .cm-content {
  white-space: unset;
}
