<script setup>
import { RouterView } from 'vue-router'
import Navbar from '@/components/Layout/Navbar.vue'
import { inject } from 'vue'
const { isDark } = inject('isDark')
</script>

<template>
  <Transition name="fadeInitial" appear>
    <div :class="{ 'has-background-black-ter has-text-white': isDark }" v-show="true">
      <div class="container is-fullhd">
        <Navbar v-if="$route.meta.title" />
        <div class="hero is-fullheight">
          <section
            class="section p-0"
            style="padding-bottom: 15% !important"
            :class="{ ' has-background-grey-dark': isDark }"
          >
            <Search :title="$route.meta.title || ''" />
            <RouterView />
          </section>
        </div>
      </div>
      <footer class="footer p-3" :class="{ 'has-background-grey-darker has-text-white': isDark }">
        <div class="content has-text-centered">
          <p>
            <strong :class="{ 'has-text-white': isDark }">Simple Learning</strong> by
            <a href="https://bavzhere.xyz" class="has-text-primary" target="_blank">Bhavya P</a>.

            <a
              href="https://developer.mozilla.org/"
              class="has-text-dark is-size-8"
              target="_blank"
            >
              <strong :class="{ 'has-text-white': isDark }">Ref: MDN Web Docs</strong>
            </a>
          </p>
        </div>
      </footer>
    </div>
  </Transition>
</template>
<style>
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.fadeInitial-enter-active,
.fadeInitial-leave-active {
  transition: opacity 1s ease;
}

.fadeInitial-enter-from,
.fadeInitial-leave-to {
  opacity: 0;
}
</style>
