<template>
  <div class="card has-background-grey code-block">
    <header class="card-header">
      <p class="card-header-title has-text-white is-size-6">
        JavaScript Demo: {{ selected.value }}
      </p>
      <button
        class="card-header-icon has-text-white has-text-weight-bold is-size-7"
        aria-label="more options"
        @click="contentCopy()"
      >
        {{ !isCopied ? 'copy' : 'copied' }}
      </button>
    </header>
    <div class="card-content p-0 has-background-dark has-text-white code-editor-content-block">
      <div class="content is-flex">
        <div class="has-background-grey">
          <ul class="editor-list has-text-weight-bold pr-2 pl-2 is-size-7">
            <li v-for="i in list" :key="i">{{ i }}.</li>
          </ul>
        </div>

        <div
          id="editableDiv"
          class="code-editor pl-2"
          contenteditable="true"
          @input="($event) => countLines($event)"
        ></div>
      </div>
    </div>

    <footer class="card-footer">
      <div class="">
        <a class="card-footer-item has-text-white" @click.prevent="runJsCode()">Run</a>
        <a
          class="card-footer-item has-text-white"
          @click.prevent="updateCodeEditor(jsStore.jsInput)"
          >Reset
        </a>
      </div>

      <article class="output-box has-background-grey-dark has-text-white pl-3">
        <ul class="has-text-left" style="white-space: normal">
          <li class="is-flex" v-for="(output, index) in JsOutput" :key="index">
            <div class="mr-2" v-for="(item, key) in output" :key="key">{{ item }}</div>
          </li>
        </ul>
      </article>
    </footer>
  </div>
</template>
<script setup>
import { useJsMethods } from '@/stores/jsStore'
import { onMounted, ref, watchEffect, watch } from 'vue'
import { callScriptContent } from '@/helpers/useJsScript.js'
import { useCopyToClipboard } from '@/helpers/useCommon.js'

const list = ref(10)
const isCopied = ref(false)
const jsStore = useJsMethods()
const codeLength = ref(0)
const codedLines = ref(null)
const props = defineProps(['selected', 'routeKey'])

const contentCopy = async () => {
  const editableDiv = document.getElementById('editableDiv')
  const { success } = await useCopyToClipboard(editableDiv.innerText)

  isCopied.value = success
  setTimeout(() => {
    isCopied.value = false
  }, 800)
}
const updateCodeEditor = (val) => {
  const editableDiv = document.getElementById('editableDiv')
  editableDiv.innerHTML = `<div>${callScriptContent(props.selected.key, val, props.routeKey)
    .split('\\n')
    .join('</div><div>')}</div>`
  countLines()
  runJsCode()
}
onMounted(() => updateCodeEditor(jsStore.jsInput))
watch(
  jsStore.jsInput,
  (state) => {
    updateCodeEditor(state)
  },
  { deep: true }
)

const countLines = () => {
  const editableDiv = document.getElementById('editableDiv')
  const content = editableDiv.innerText
  const lines = content.split(/\r?\n/)
  codedLines.value = content
  codeLength.value = lines.length
}
const JsOutput = ref([])
const runJsCode = () => {
  try {
    JsOutput.value = []
    console.log = function () {
      JsOutput.value.push(Array.from(arguments, (x) => (Array.isArray(x) ? x.flat(0) : x)))
    }
    const wrappedCode = new Function(codedLines.value) // Create a function with an argument
    wrappedCode()
  } catch (e) {
    JsOutput.value.push([`Error : ${e.message} `])
  }
}

watchEffect(() => {
  list.value = codeLength.value <= 10 ? 10 : codeLength.value
})

defineExpose({ updateCodeEditor })
</script>
<style>
.editor-list {
  list-style: none !important;
  margin: 0 !important;
}
.editor-list > li {
  margin-top: 5.8px !important;
}
</style>
