<template>
  <div class="card code-block">
    <header class="card-header" style="background-color: #7d8799">
      <p class="card-header-title has-text-white is-size-6">
        JavaScript Demo: {{ selected.value }}
      </p>
      <button
        class="card-header-icon has-text-white has-text-weight-bold is-size-7"
        aria-label="more options"
        @click="contentCopy()"
      >
        {{ !isCopied ? 'copy' : 'copied' }}
      </button>
    </header>
    <div class="card-content p-0 has-background-dark has-text-white code-editor-content-block">
      <div class="content">
        <codemirror
          id="editableDiv"
          v-model="code"
          placeholder="Code goes here..."
          :style="{ height: '350px' }"
          :autofocus="true"
          :indent-with-tab="true"
          :tab-size="2"
          :extensions="extensions"
        />
      </div>
    </div>
    <article class="message is-dark output-box">
      <div class="message-body has-text-left p-0" style="background-color: #7d8799">
        <div class="is-flex">
          <div>
            <div>
              <button class="button is-small is-success is-clickable" @click.prevent="runJsCode()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                  <polygon points="7 4 7 20 21 12" fill="#000" />
                </svg>
              </button>
            </div>
            <button
              class="button is-small is-info is-clickable"
              @click.prevent="updateCodeEditor(jsStore.jsInput)"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="icon-md"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 2.5C5.05228 2.5 5.5 2.94772 5.5 3.5V5.07196C7.19872 3.47759 9.48483 2.5 12 2.5C17.2467 2.5 21.5 6.75329 21.5 12C21.5 17.2467 17.2467 21.5 12 21.5C7.1307 21.5 3.11828 17.8375 2.565 13.1164C2.50071 12.5679 2.89327 12.0711 3.4418 12.0068C3.99033 11.9425 4.48712 12.3351 4.5514 12.8836C4.98798 16.6089 8.15708 19.5 12 19.5C16.1421 19.5 19.5 16.1421 19.5 12C19.5 7.85786 16.1421 4.5 12 4.5C9.7796 4.5 7.7836 5.46469 6.40954 7H9C9.55228 7 10 7.44772 10 8C10 8.55228 9.55228 9 9 9H4.5C3.96064 9 3.52101 8.57299 3.50073 8.03859C3.49983 8.01771 3.49958 7.99677 3.5 7.9758V3.5C3.5 2.94772 3.94771 2.5 4.5 2.5Z"
                  fill="currentColor"
                ></path>
              </svg>
            </button>
          </div>
          <ul class="has-text-left has-text-white is-flex-grow-1 ml-2" style="white-space: normal">
            <li class="is-flex" v-for="(output, index) in JsOutput" :key="index">
              <div class="mr-2" v-for="(item, key) in output" :key="key">{{ item }}</div>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
  <!-- @ready="handleReady"
    @change="log('change', $event)"
    @focus="log('focus', $event)"
    @blur="log('blur', $event)" -->
</template>

<script setup>
import { ref, shallowRef, onMounted, watch } from 'vue'
import { Codemirror } from 'vue-codemirror'
import { javascript } from '@codemirror/lang-javascript'
import { oneDark } from '@codemirror/theme-one-dark'
import { callScriptContent } from '@/helpers/useJsScript.js'
import { useJsMethods } from '@/stores/jsStore'
import { useCopyToClipboard } from '@/helpers/useCommon.js'

const props = defineProps(['selected', 'routeKey'])
const code = ref(`console.log('Hello, world!')`)
const extensions = [javascript(), oneDark]
const jsStore = useJsMethods()
const JsOutput = ref([])
const isCopied = ref(false)

const contentCopy = async () => {
  const { success } = await useCopyToClipboard(code.value)
  isCopied.value = success
  setTimeout(() => {
    isCopied.value = false
  }, 800)
}

const runJsCode = () => {
  try {
    JsOutput.value = []
    console.log = function () {
      JsOutput.value.push(Array.from(arguments, (x) => (Array.isArray(x) ? x.flat(0) : x)))
    }
    const wrappedCode = new Function(code.value) // Create a function with an argument
    wrappedCode()
  } catch (e) {
    JsOutput.value.push([`Error : ${e.message} `])
  }
}
const updateCodeEditor = (val) => {
  // code.value =
  // const editableDiv = document.getElementById('editableDiv')
  code.value = `${callScriptContent(props.selected.key, val, props.routeKey)
    .split('\\n ')
    .join('\n')}`
  runJsCode()
}

onMounted(() => updateCodeEditor(jsStore.jsInput))
// Codemirror EditorView instance ref
const view = shallowRef()
const handleReady = (payload) => {
  view.value = payload.view
}

// Status is available at all times via Codemirror EditorView
const getCodemirrorStates = () => {
  const state = view.value.state
  const ranges = state.selection.ranges
  const selected = ranges.reduce((r, range) => r + range.to - range.from, 0)
  const cursor = ranges[0].anchor
  const length = state.doc.length
  const lines = state.doc.lines
  // more state info ...
  // return ...
}

watch(
  jsStore.jsInput,
  (state) => {
    updateCodeEditor(state)
  },
  { deep: true }
)

defineExpose({ updateCodeEditor })
</script>
