<template>
  <article class="message">
    <div class="message-header has-background-dark">
      <div class="is-flex">
        <Transition name="bounce" appear v-if="!showAsideMenu && !isMobile">
          <div class="burger-menu mt-1 is-clickable mr-2" @click="$emit('hideBar')">
            <div class="bar has-background-light"></div>
            <div class="bar has-background-light"></div>
            <div class="bar has-background-light"></div>
          </div>
        </Transition>
        <div class="dropdown" :class="{ 'is-active': isActive }" @click="isActive = !isActive">
          <div class="dropdown-trigger">
            <button
              class="button is-small is-size-6 list-drop"
              aria-haspopup="true"
              aria-controls="dropdown-menu3"
            >
              <span>{{ selected.value }}</span>
              <span class="icon is-small">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16">
                  <path d="M8 12l4-4H4z" fill="#fff" />
                </svg>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <slot name="dropdown-content" class="dropdown-content" />
          </div>
        </div>
      </div>
      <nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
          <li>
            <a
              class="pagination-link"
              :class="{ 'is-unclickable has-text-grey-lighter': selected.index == 0 }"
              aria-label="Previous"
              @click="pagination(0)"
              >Prev</a
            >
          </li>
          <li>
            <a
              class="pagination-link"
              aria-label="Next"
              :class="{ 'is-unclickable has-text-grey-lighter': selected.index == len - 1 }"
              @click="pagination(1)"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div
      class="message-body has-text-left p-2"
      :class="{ 'has-background-grey has-text-white': isDark }"
    >
      <span v-html="selected.desc"></span>
    </div>
  </article>
</template>
<script setup>
import { useJsMethods } from '@/stores/jsStore'
import { inject, onUpdated, ref } from 'vue'

const { isDark } = inject('isDark')
const jsStore = useJsMethods()
const props = defineProps(['selected', 'showAsideMenu'])
const emit = defineEmits(['update:selected', 'hideBar'])
const len = ref(0)
const index = ref('')
const isActive = ref(false)
const isMobile = window.matchMedia('(max-width: 1200px)').matches
const pagination = (isNext) => {
  index.value = isNext ? props.selected.index + 1 : props.selected.index - 1
  if (index.value >= 0 && index.value < len.value) {
    emit('update:selected', {
      index: index.value,
      ...jsStore.prototypes[index.value]
    })
  }
}
onUpdated(() => {
  if(len.value == 0) {
    len.value = jsStore.prototypes.length
  }
})

defineExpose({
  isActive
})
</script>
