<template>
  <article class="message is-dark">
    <div class="message-body has-text-left" :class="{ 'has-background-grey-dark': isDark }">
      <ul class="has-text-danger is-size-7">
        <li v-for="(item, index) in selected.syntax" :key="index">{{ item }}</li>
      </ul>
    </div>
  </article>
</template>
<script setup>
import { inject } from 'vue'
const { isDark } = inject('isDark')
defineProps(['selected'])
</script>
