<template>
  <div class="field has-addons mt-3">
    <p class="control is-expanded">
      <template v-if="routeKey == 'array'">
        <input
          placeholder="Enter some value..."
          class="input is-small"
          v-model="pushJsInput"
          type="text"
          @keyup.enter="updateUserInput(pushJsInput)"
        />
      </template>
      <template v-else-if="routeKey == 'object'">
        <div class="is-flex">
          <input
            placeholder="key"
            class="input is-small"
            v-model="pushJsInput.key"
            type="text"
            @keyup.enter="updateUserInput(pushJsInput)"
          />
          <input
            placeholder="value"
            class="input is-small"
            v-model="pushJsInput.value"
            type="text"
            @keyup.enter="updateUserInput(pushJsInput)"
          />
        </div>
      </template>
    </p>
    <p class="control">
      <a class="button is-static is-small is-clickable">
        <strong class="cs-addon-input" @click="updateUserInput(pushJsInput)">Enter</strong>
      </a>
    </p>
  </div>
  <div class="tags">
    <span class="tag" v-for="(item, index) in jsStore.jsInput" :key="index">
      {{ `${index} :  ${item}` }}
      <button class="delete is-small" @click="jsStore.deletejsInput(index)"></button>
    </span>
  </div>
</template>
<script setup>
import { ref } from 'vue'
import { useJsMethods } from '@/stores/jsStore'
const props = defineProps(['routeKey'])
const jsStore = useJsMethods()

const updateUserInput = (val) => {
  if (validateDeclareInput(props.routeKey, val)) {
    jsStore.addjsInput(val)
    pushJsInput.value = declareInput(props.routeKey)
  }
}
const declareInput = (routeKey) => {
  switch (routeKey) {
    case 'array':
      return []
    case 'object':
      return {
        key: '',
        value: ''
      }
    default:
      return ''
  }
}

const validateDeclareInput = (routeKey, val) => {
  switch (routeKey) {
    case 'array':
      return val != ''
    case 'object':
      return val.key && val.value
    default:
      return val != ''
  }
}

const pushJsInput = ref(declareInput(props.routeKey))
</script>
